
.main-menu
    {
    direction: rtl;
    text-align: right;
    font-weight: 700;
    }
.header-top 
    {
    direction: rtl;
    }

.hero-section-row
    {
    text-align: right;
    }
.footer-section
    {
    direction: rtl;
    text-align: right;
    }
.footer-widget ul 
    {
    float: none;
    }
.tel 
    {
    direction: ltr;
    }
.page-top-info
    {
    text-align: right;
    direction: rtl;
    }
.category-section{
    direction: rtl;
    text-align: right;
}
.pi-text{
    text-align: left;
}
.product-item {
    direction: rtl;
}
.map{
    right: unset;
    left: 0;
}
.contact-section{
    direction: rtl;
    text-align: right;
}
.card.col-lg{
    direction: rtl;
    text-align: right;
}
.card-body {
    text-align: left;
}